th {
  text-align: left;
}

body {
  background-color: #CCFFCC;
}

.appointment span{
  display: inline-block;
  padding-bottom: 30px;
}

.not_found {
	display:block;
	margin:auto;
	margin-bottom: 1em;
	width:30%;
}

.span_butt {
  display: inline-block;
  float: right;
}
