
th {
  text-align: left;
}
.add-button {
  width: 25px;
  float: left;
}

.add-apt-form {
  display: inline;
}

.apt-add-ul {
  list-style: none;
}

.apt-list-div {
  clear: both;
}

.clear-save-buttons {
  float: right;
}

.create-apt-time {
  width: 190px;
}

body {
  background-color: #CCFFCC;
}

.appointment span{
  display: inline-block;
  padding-bottom: 30px;
}

.not_found {
  display:block;
  margin:auto;
  margin-bottom: 1em;
  width:30%;
}

.num-entry {
  width: 25px;
}

th {
  text-align: left;
}

.span_butt {
  display: inline-block;
  float: right;
}
