<div id="add_one_health_condition" style="display:none;">
  <p>
    <label for="health">Health Condition: </label>
    <input type="text" name="conditions[]" id="health1">
    <input class="remove" type="button" value="-"></input>
  </p>
</div>
