<section>
  <form action='/appointments/change' method='post'>
    <input type='date'   id='datePicker' />
    <input type='submit' id='changeDate' value='Update'/>
  </form>
  <% today = DateTime.now %>
  <% appointments = therapist? ? Appointment.where(therapist_id: current_user.id) : Appointment.all%>
  <div id='allAppointments'>
  <% appointments.each do |appt| %>
    <% unless appt.booked? %>
      <% appt_date = appt.appt_at %>
      <% if appt_date.year == today.year && appt_date.month == today.month && appt_date.day == today.day %>
        <% patient = appt.patient_id ? Patient.find(appt.patient_id).first_name : '---------' %>
        <div class='appointment'>
          <span><%= patient+' '+appt_date.strftime("%I:%M%p") %> </span>
            <form class='span_butt' action='/users/patients/profile/book' method='post'>
              <input type='hidden' name='appointment_id' value=<%= appt.id.to_s %> />
              <input type='hidden' name='patient_id' value=<%= current_user.id %>/>
              <input type='submit' value='Book It'>
            </form>
        </div>
      <% end %>
    <% end %>
  <% end %> 
</div>
</section>