<h2>Login: </h2>
<form action="/login" method="post">
  <input type="text" name="email" placeholder="me@example.com" >
  <input type="password" name="password" placeholder="password">
  <select id= "type" name="type">
    <option value="Patient">Patient</option>
    <option value="Therapist">Therapist</option>
    <option value="Admin">Admin</option>
  </select>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<img src="http://www.massagebysabrina.com/Images/chair_massage_edit.jpg" />