<h1>Sign up for Shiatsu</h1>
  <h2>Dev Bootcamp's Premium Massage Appointment System</h2>
  <h3>Compete your profile below</h3>
  <form action='/users/patients/new' method="post">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="phone" pattern="[^(\([\d]{3}\)|\([\d]{3}\) |[\d]{3}.|[\d]{3}.)[\d]{3}.[\d]{4}|[\d]{10}$]" placeholder="(xxx) xxx-xxxx">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
  </br>
    <select ="pressure_preference" onchange="selectPreference()" id="pressureList" name="pressure_preference">
      <option value="null">What pressure do you like?</option>
      <option value="1">Light Pressure</options>
      <option value="2">Medium-light Pressure</options>
      <option value="3">Medium Pressure</options>
      <option value="4">Medium-deep Pressure</options>
      <option value="5">Deep Pressure</options>
    </select>
  <p>
    <span id="add_condition">OPTIONAL: Add any past injuries or health conditions you want your massage therapist to know below.</span>
    <br />
    <input class="add" type="button" value="Add Conditions"></input>
    <div class="hidden_add_button">
      <%= erb :_add_condition%>
    </div>
  </p>
      <br />

    <button type="submit" class="btn btn-primary" id="create_patient">Create Patient</button>
  </form>
  <h3>Therapist: </h3>
<form action="/users/therapists/new" method="post">
  <input type="text" name="first_name" placeholder="Bob" >
  <input type="text" name="last_name" placeholder="Dole" >
  <input type="text" name="phone" pattern="[^(\([\d]{3}\)|\([\d]{3}\) |[\d]{3}.|[\d]{3}.)[\d]{3}.[\d]{4}|[\d]{10}$]" placeholder="(xxx) xxx-xxxx">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="secret_password" placeholder='secret password'>
  <button type="submit" class="btn btn-primary">Create Therapist</button>
</form>
<h3>Admin: (Don't create me yet)</h3>
<form action="/users/admins/new" method="post">
  <input type="text" name="first_name" placeholder="Bob" >
  <input type="text" name="last_name" placeholder="Dole" >
  <input type="text" name="phone" pattern="[^(\([\d]{3}\)|\([\d]{3}\) |[\d]{3}.|[\d]{3}.)[\d]{3}.[\d]{4}|[\d]{10}$]" placeholder="(xxx) xxx-xxxx">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="secret_password" placeholder='secret password'>
  <button type="submit" class="btn btn-primary">Create Admin</button>
</form>
