<div class='container'>
  <!-- where(therapist_id: session[:user_id]) -->
  <h1>Day Placeholder</h1>

  <!-- <form action="" method=""> -->
    <p><input id="start-time" type="text" name="start time" placeholder="Start Time (HH:MM AM/PM)" pattern="\A(1[0-2]|[0-9]):[0-5][0-9] (AM|PM)\z" style="width: 175px;" /></p>
    Create <input id="amount" type="text" name="amount" placeholder="#" style="width: 25px;" minlength="1" maxlength="2" />&nbsp;
    <input id="activity-name" type="text" name="activity" placeholder="Items" style="width: 100px;" />&nbsp;which last for&nbsp;
    <input id="duration" type="text" name="duration" placeholder="#" style="width: 25px;" minlength="1" maxlength="2" />&nbsp;minutes and have&nbsp;
    <input id="gap" type="text" name="gap" placeholder="#" style="width: 25px;" minlength="1" maxlength="2" />&nbsp;minutes in between each activity.
    <p><button id="add-apts" style="width: 25px;">+</button></p>
    <div id="appointment-slot-list">
    </div>
    <div style="float: right;">
      <button  id="clear">Clear</button>&nbsp;<button id="save">Save</button>
    </div>
  <!-- </form> -->
</div>
