<div class="container">
  <h2>You're at your user page!</h2>
  <%= session[:type].inspect %>
  <%= session[:user_id].inspect %>
  <br>
  <img src="http://1.media.dorkly.cvcdn.com/57/82/014c67406a541837b841a9b7ac6cfed9-corgi-link-cosplay.jpg" />
</div>